/* Master Styles */
body {
    margin: 0px;
    font-family: "Monument Extended", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* NAW Styles */
.naw-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.naw-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.naw-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.naw-link-wrapper a {
    color: #E28E4D;
    text-decoration: none;
    transition: color 0.5s;
}

.naw-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.naw-link-wrapper a:hover {
    color: black;
}

/* CASE BILDER */

.hero-fullscreen-one {
    /* Bakgrundsbild */
    background-image: url(Images/BackgroundG.png);
    background-size: cover;
    background-position: center;
    height: 150vh;
    /* För att centrera kortet */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* CASE 1-4 */
.card {
    background-color: transparent;
    padding: 0 1.5rem;
    margin: 2rem 2rem 2rem;
    text-align: center;
}

.card a {
    color: #E3CDDD;
    text-decoration: none;
}

.card a:hover {
    color: #916CB6;
}

/* ABOUT STYLES */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-images-wrapper img {
    width: 100%;
}

.profile-content-wrapper {
    padding: 30px;
}

.profile-content-wrapper h1 {
    color: #E28E4D;
}

